@model StarLight_Ticket.Cinema_Save

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cinema_Save</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toatal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toatal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinema.CinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CID_save }) |
    @Html.ActionLink("Back to List", "Index")
</p>
